html{
    font-size: 12px;
}
body{
    font-family: sans-serif;
    margin: 0;
    font-size:1.5rem;
}
a{
    color: rgb(0, 0, 0);
    text-decoration: none; 
    background: grey;
    border-radius: 4px;
    padding: 1rem 1rem;
    box-shadow: 2rem;
}

.articles{
    padding: 30px;
    line-height: 1.8;
}
.articles img{
    max-width: 75%;
}
/* The Menu classname is the navigation bar */
.menu{
    padding: 1rem;
    background: #a959bb;
}
.menu i{
    font-size: 1.8rem;
    padding-bottom: 1rem;

}
.wrapper{
    /* using flex im able to control the order and layout of the content on the page */
    display: flex;
    flex-direction:column ;
}
.header{
    background: #a959bb;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

